{% extends 'blog/main.html' %}
{% block main_section %}
  {% for post in news %}
    <div class="alert alert-light">
      <h1>{{ post.title }}</h1>
      <p>{{ post.text|striptags|truncatechars:200 }}</p>
      <div class="row">
        <div>
          {% if post.author.profile.img %}
            <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_image">
          {% else %}
            <img src="/images/default.jpg" alt="{{ post.author }}" class="user_image">
          {% endif %}
        </div>
        <div class="mt-2">
          <span class="text-muted">{{ post.date|date:"d E Y, H:i:s" }}</span>
          <p><b>Автор:</b> <mark>{{post.author}}</mark></p>
        </div>
      </div>
      <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Читать</a>
    </div>
  {% endfor %}
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Советы и инструкции</b></h3>
  <p>Описание: О фильме: Джордж Бейли, владелец небольшой страховой компании, честный, отзывчивый, любящий муж и отец, подавлен свалившимися на него невзгодами и подумывает о самоубийстве. Очевидно, что человек, отказывающийся от самого большого дара Бога - жизни - нуждается в помощи ангела-хранителя. И Небеса отправляют ему на выручку Кларенса, единственного свободного на тот момент Ангела Второго Класса...</p>
  <a href="" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
