{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
  {% for post in news %}
    <div class="alert alert-light">
      <h1>{{ post.title }}</h1>
      <p>{{ post.text|striptags|truncatechars:200 }}</p>
      <div class="row">
        <div>
          {% if post.author.profile.img %}
            <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_image">
          {% else %}
            <img src="/images/default.jpg" alt="{{ post.author }}" class="user_image">
          {% endif %}
        </div>
        <div class="mt-2">
          <span class="text-muted">{{ post.date|date:"d E Y, H:i:s" }}</span>
          <p><b>Автор:</b> <a href="{% url 'user-news' post.author %}">{{post.author}}</a></p>
        </div>
      </div>
      <a href="{% url 'news-detail' post.id %}" class="btn btn-primary btn-sm pull-left"><u><b>Читать>></b></u></a>
    </div>
  {% endfor %}

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page=1" class="btn btn-outline-default"><b>Начало</b></a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-default"><b>Предыдущая</b></a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <button class="btn btn-default"><u>{{ num }}</u></button>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-default">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-default"><b>Следующая</b></a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-default"><b>Последняя</b></a>
    {% endif %}
  {% endif %}
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Советы и инструкции</b></h3>
  <p>Описание: О фильме: Джордж Бейли, владелец небольшой страховой компании, честный, отзывчивый, любящий муж и отец, подавлен свалившимися на него невзгодами и подумывает о самоубийстве. Очевидно, что человек, отказывающийся от самого большого дара Бога - жизни - нуждается в помощи ангела-хранителя. И Небеса отправляют ему на выручку Кларенса, единственного свободного на тот момент Ангела Второго Класса...</p>
  <a href="" target="_blank">
    <button class="btn btn-default">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
