{% extends 'blog/main.html' %}
{% block main_section %}
  <div class="alert alert-light">
    <a href="{% url 'blog-home' %}">На главную</a>
    <h1>{{ object.title }}</h1>
    <p>{{ object.text|safe }}</p>
    <div class="row">
      <div>
        {% if object.author.profile.img %}
          <img src="{{ object.author.profile.img.url }}" alt="{{ object.author }}" class="user_image">
        {% else %}
          <img src="/images/default.jpg" alt="{{ object.author }}" class="user_image">
        {% endif %}
      </div>
      <div class="mt-2">
        <span class="text-muted">{{ object.date|date:"d E Y, H:i:s" }}</span>
        <p><b>Автор:</b> <a href="{% url 'user-news' object.author %}">{{object.author}}</a></p>
      </div>
    </div>
    {% if object.author == user %}
      <hr>
      <a href="{% url 'news-update' object.id %}" class="btn btn-info">Обновить статью</a>
      <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Удалить статью</a>
    {% endif %}
  </div>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Советы и инструкции</b></h3>
  <p>Описание: О фильме: Джордж Бейли, владелец небольшой страховой компании, честный, отзывчивый, любящий муж и отец, подавлен свалившимися на него невзгодами и подумывает о самоубийстве. Очевидно, что человек, отказывающийся от самого большого дара Бога - жизни - нуждается в помощи ангела-хранителя. И Небеса отправляют ему на выручку Кларенса, единственного свободного на тот момент Ангела Второго Класса...</p>
  <a href="" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
