{% extends 'blog/main.html' %}
{% block main_section %}
  <div class="form-section">
    <h2>Кабинет пользователя</h2>
    <div class="media text-muted pt-3">
      <img class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{ user.profile.img.url }}">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{user.username}}</strong>
        <b>Email:</b>{{user.email}}
      </p>
    </div>
  </div>
{% endblock main_section %}

{% block aside_news_section %}
    <h3><b>Описание</b></h3>
    <p>Схемы обучения. Выбираете роль и проходите свой путь обучения конкретно для этой цели. В конце можно пройти сертификацию. Примеры ролей: разработчик Windows, бизнес-аналитик, архитектор решений Azure.

  Практическое обучение. В этом пути вам предложат пошаговые интерактивные инструкции для решения прикладных задач. Можно тратить от 15 минут на модуль. Пример: создание чат-бота с помощью службы Azure Bot.

  Продукт. Выбираете конкретный продукт Microsoft и проходите модули для того, чтобы научиться с ним работать. Пример: разработка под Windows.</p>
    <a href="" target="_blank">
      <button class="btn btn-warning">Посмотреть</button>
    </a>
{% endblock aside_news_section %}
